spring:
  application:
    name: ai-data-processor
  data:
    mongodb:
      uri:
  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false
  task:
    scheduling:
      pool:
        size: 5
      thread-name-prefix: scheduling-
    execution:
      thread-name-prefix: task-

info:
  app:
    name: ai-data-processor
    description: Microservice used for preparing, enriching and storing data used by the AI components of the platform
    version: 14.1.0-SNAPSHOT

springdoc:
  swagger-ui:
    url: /v3/api-docs.yaml

server:
  port: 50026
  servlet:
    context-path: /api/ai-data-processor

logging:
  file:
    name: ./logs/ai-data-processor.log
  level:
    com:
      atlassian:
        jira: INFO
      publicissapient:
        kpidashboard:
          processor: DEBUG

togglz:
  feature-enums: com.publicissapient.kpidashboard.common.feature.FeatureEnum
  console:
    use-management-port: false
    enabled: true
    path: /togglz-console
    secured: true

management:
  health:
    rabbit:
      enabled: false
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never

knowhow-api-config:
  base-url:
  api-key:
  endpoints:
    kpi-integration-values:
      path: /kpiIntegrationValues
  rate-limiting:
    max-concurrent-calls: 10
  retry-policy:
    max-attempts: 1
    min-backoff-duration: 5
    min-backoff-timeunit: SECONDS

shared-data-service-api-config:
  base-url:
  api-key:
  ai-usage-statistics-endpoint:
    path: /ai-usage/stats
  retry-policy:
    max-attempts: 3
    min-backoff-duration: 5
    min-backoff-timeunit: SECONDS

jobs:
  productivity-calculation:
    name: productivity-calculation
    batching:
      chunk-size: 100
    scheduling:
      cron: ${PRODUCTIVITY_CALC_CRON:0 0 16 * * FRI}
    calculation-config:
      # The sum of weights must be 1.0
      weights:
        quality: 0.3
        speed: 0.3
        efficiency: 0.25
        productivity: 0.15
      #Specifies the number of data points of all involved KPIs which will be taken into consideration for productivity gain calculation
      #Must be between 1 and 15
      data-points:
        count: 6
  kpi-maturity-calculation:
    name: kpi-maturity-calculation
    batching:
      chunk-size: 100
    scheduling:
      cron: ${KPI_MATURITY_CALC_CRON:0 0 15 * * FRI}
    calculation-config:
      maturity:
        weights:
          dora: 0.25
          value: 0.25
          speed: 0.25
          quality: 0.25
      data-points:
        count: 6
  ai-usage-statistics-collector:
    name: ai-usage-statistics-collector
    scheduling:
      cron: 0 0 0 ? * FRI
    batching:
      chunk-size: 10

mongo:
  ttl-index:
    configs:
      productivity-calculation:
        collection-name: productivity
        ttl-field: calculationDate
        expiration: 180
        time-unit: DAYS
        sort-direction: ASC
      ai-usage-statistics-collector:
        collection-name: ai_usage_statistics
        ttl-field: createdAt
        expiration: 180
        time-unit: DAYS
        sort-direction: ASC
      kpi-maturity-calculation:
        collection-name: kpi_maturity
        ttl-field: calculationDate
        expiration: 180
        time-unit: DAYS
        sort-direction: ASC